#viewport {
    image-rendering: pixelated;
}

body {
    background-color: black;
    color: white;
}

#colormap {
    height: 80px;
    width: 1024px;
}

#julia {
    image-rendering: pixelated;
}

fieldset {
    width: fit-content;
}